@tailwind base;
@tailwind components;
@tailwind utilities;

.pag {
  position: relative;
}
.pag:hover {
  overflow: overlay;
}
.pag::-webkit-scrollbar {
  height: 8px !important;
}

/* Track */
.pag::-webkit-scrollbar-track {
  background: #8d8d8d64 !important;
}

/* Handle */
.pag::-webkit-scrollbar-thumb {
  background: gray !important;
}

/* Handle on hover */
.pag::-webkit-scrollbar-thumb:hover {
  background: black !important;
}
